<div class="wrapper-content">
    <div class="box-tile">
        <b class="tag"></b>
        <h1 class="">
            Cursos intensivos Tecnologia
        </h1>
    </div>
<div class="row">
    <div class="col-6">
        <button class="btn btn-home-cadastro-clientes" (click)="gotoCadastroClientes()">Assine Agora</button>
    </div>
    <div class="col-6 ">
        <button class="btn btn-home-conheca-cursos" (click)="gotoConhecaCursos()">Conheça os cursos</button>
    </div>
</div>
    <div class="bg_img"></div>
    
</div>