@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.wrapper-header  {
height: auto!important;
width: 100%;
padding: 0px;
background: #374957;
color:#fba707;
box-shadow: 0 2px 5px -2px grey;
font-family: 'Montserrat', sans-serif;
padding-bottom: 10px;
}


 ::ng-deep .menu-header li a{
display: inline-block;
font-size: 15px;
color:#fba707;
margin-left: -24px;
padding: 0px;
font-family: 'Montserrat', sans-serif;
padding-right: 20px;
text-decoration: none;
}

.menu-header li img{
    width: 61%;
    margin-top: -20px;
    margin-right: -183px;
}
 ::ng-deep .menu-header li a:hover{
display: inline-block;
font-size: 15px;
color:#fff;
margin-left: -24px;
padding: 0px;
font-family: 'Montserrat', sans-serif;
padding-right: 20px;
text-decoration: none;
}

.acessar-conta {
position: relative;
top: 10px;
background-color:#fba707 ;
border: 0;
color: #374957;
margin-left: 99px;
}
 ::ng-deep button.acessar-conta:hover{
    color:#374957!important;
    background-color:#ccc!important;
}
form-check-label{
    font-size: 10px;
}
@media screen and (min-width: 600px) {
.wrapper-header {
height: 15vh;
}
.menu-header li {
list-style: none;
display: inline-block;
position: relative;
margin: 10px;
top: 20px;
font-size: 15px;
color:#fba707;

}
}