
<div class="wrapper-header">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <ul class="menu-header">
                <li><img src="{{urlLogo}}"></li>
                <li><a href="{{urlcursos}}">Cursos</a></li>
                <li><a href="{{urlplanos}}"> Planos de assinatura</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-md-4">
 
                <div class="form-row align-items-center">
                  
                    <div class="col-auto my-1">
                        <button type="submit" class="btn btn-primary btn-lg btn-block acessar-conta" [routerLink]="['/login']">Acessar o portal</button>
                    </div>
                </div>
        </div>
    </div>
</div>
