<div class="wrapper">
    <div class="topicos">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <ul class="topicos-footer">
                        <li>Desenvolvimento Front-End</li>
                        <li>Desenvolvimento Back-End</li>
                        <li>Desenvolvimento Mobile</li>
                    </ul>
                </div>
                <div class="col-3">
                    <ul class="topicos-footer">
                        <li>Desenvolvimento de Jogos</li>
                        <li>Banco de Dados</li>
                        <li>CMS e E-commerce</li>
                    </ul>
                </div>
                <div class="col-3">
                    <ul class="topicos-footer">
                        <li>Cloud Computer</li>
                        <li>Testes e Projetos</li>
                        <li>Infraestrutura</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer class="rodape">
        <p class="text-center">&copy; Todos os Direitos reservados
           
        </p>
    </footer>
</div>